@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-primary: #262626;
  --bg-secondary: rgb(32, 32, 32);
  --bg-spaces: #171717;
  --bg-rooms: #1c1c1c;
  --bg-user-panel: rgb(12, 12, 12);
  --bg-ui: rgb(24, 24, 24);
  --bg-seperator: rgb(64, 64, 64);
  --input: rgb(42, 42, 42);
  --text-secondary: rgb(107, 114, 128);
  --accent-primary: rgb(255, 90, 90);
  --message-hover: rgb(25,25,25);
  color: white;

  font-family: "Poppins", sans-serif;
}

html {
  overflow: hidden;
}

ul {
  overflow-y: auto;
}

ul.messages {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  li.message {
    display: flex;
    gap: 0.5rem;

    &:hover {
     background: var(--message-hover); 
    }

    &.parent {
      padding-top: 0.875rem;
    }
  }
}

body {
  width: 100%;
  height: 100%;
  background: var(--bg-primary);
  overflow: hidden;
}

div.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    @apply w-full h-full md:w-[720px] md:h-fit p-4 bg-[var(--bg-secondary)];

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li.seperate {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      li label {
        color: var(--text-secondary);
      }

      li:has(button) {
        display: flex;
        justify-content: center;

        button {
          background-color: var(--accent-primary);
          padding: 0.5rem;
          border-radius: 0.375rem;
          width: 25rem;
        }
      }
    }
  }
}

ul.settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.modal-overlay {

  &#backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &:not(#backdrop) {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 999;
    background: var(--bg-ui);
  }

  form {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding: 1rem;
    background: var(--bg-ui);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;

    &.full {
      width: 100%;
      height: 100%;
    }

    header {
      font-size: medium;
      position: relative;
      width: 100%;
      height: 3rem;
      background: none;
    }

    div.body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: calc(100% - 3rem);

      div.row {
        &.center {
          justify-content: center;
        }

        display: flex;
        width: 100%;
        gap: 1rem;
      }

      button {
        background-color: var(--accent-primary);
      }
    }
  }
}

img.message-emoji {
  width: 48px;
  height: 48px;
  display: inline-block;
}

img.message-emoji-text {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

div.app-wrapper {
  flex-grow: 1;
  height: 100%;

  header {
    width: 100%;
    height: 3rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background: rgb(23 23 23);
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    font: bold;
  }

  main {
    width: 100%;
    height: calc(100% - 3rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}

input {
  @apply bg-[var(--input)] p-2 outline-none rounded-md;
}

select {
  @apply bg-[var(--input)] p-2 outline-none rounded-md;
}

h1 {
  @apply text-3xl;
}

h1.title {
  @apply text-center font-bold uppercase;
}

label.title {
  @apply font-bold uppercase;
}

// ul.space-sidebar-horizontal {
//   @apply bg-[var(--bg-spaces)] w-16 min-h-full p-2 flex flex-col items-center;
// }

ul.spaces {
  background: var(--bg-spaces);
  
  &.vertical {
    min-width: 72px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center
  }

  // &.horizontal {
  //   min-height: 100%;
  //   height: 72px;
  //   padding: 0.5rem;
  //   display: flex;
  //   align-items: center
  // }


}

ul.rooms {
  // @apply bg-[var(--bg-rooms)] w-52 h-full flex flex-col items-center;
  background: var(--bg-rooms);
  min-width: 240px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div[role="menu"] {
  @apply bg-[var(--bg-ui)] border-none rounded-lg;
}

div[role="menuitem"] {
  @apply hover:bg-stone-700 cursor-pointer rounded-md;
}

/* Loading Screen */
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #7289da;
  /* Discord blue color */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div.status-online {
  background-color: #22c55e;
}

div.status-offline {
  background-color: #6b7280;
}

div.status-idle {
  background-color: #eab308;
}

div.status-dnd {
  background-color: #ef4444;
}

div.status-coding {
  background-color: #3b82f6;
}

div.status-streaming {
  background-color: #a855f7;
}

div.status-sleeping {
  background-color: #f97316;
}

button[role="switch"]:has(> span[data-state="checked"]) {
  @apply bg-green-500;
}

button[role="switch"]:has(> span[data-state="unchecked"]) {
  @apply bg-gray-500;
}

button[role="switch"] span {
  @apply bg-white;
}

[contenteditable="true"]:empty:not(:focus):before {
  content: attr(placeholder);
  color: grey;
  font-style: italic;
}

.loading {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1114%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='rgba(38%2c 38%2c 38%2c 1)'%3e%3c/rect%3e%3cpath d='M139 1000L1139 0L1944.5 0L944.5 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)'%3e%3c/path%3e%3cpath d='M1430 1000L430 0L-341 0L659 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)'%3e%3c/path%3e%3cpath d='M826.4199343613293 1000L1440 386.4199343613293L1440 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1115%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 1000L613.5800656386707 1000L 0 386.4199343613293z' fill='url(%26quot%3b%23SvgjsLinearGradient1116%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1114'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1115'%3e%3cstop stop-color='rgba(29%2c 29%2c 29%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(29%2c 29%2c 29%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1116'%3e%3cstop stop-color='rgba(29%2c 29%2c 29%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(29%2c 29%2c 29%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}