@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: rgb(25, 25, 25);
  --bg-secondary: rgb(32, 32, 32);
  --bg-guilds: rgb(10, 10, 10);
  --bg-channels: rgb(20, 20, 20);
  --bg-user-panel: rgb(12, 12, 12);
  --bg-ui: rgb(24,24,24);
  --bg-seperator: rgb(64, 64, 64);
  --input: rgb(42, 42, 42);
  --text-secondary: rgb(107, 114, 128);
  --accent-primary: rgb(255, 90, 90);
  color: white;
}

body {
  @apply w-screen h-screen bg-[var(--bg-primary)];
}

div.form-wrapper {
  @apply w-screen h-screen flex justify-center items-center;
}

div.form-wrapper form {
  @apply w-full h-full md:w-[720px] md:h-fit p-4 bg-[var(--bg-secondary)];
}

div.form-wrapper form label {
  @apply text-[var(--text-secondary)];
}

input {
  @apply bg-[var(--input)] p-2 outline-none rounded-md;
}

select {
  @apply bg-[var(--input)] p-2 outline-none rounded-md;
}

h1 {
  @apply text-3xl;
}

h1.title {
  @apply text-center font-bold uppercase;
}

label.title {
  @apply font-bold uppercase;
}

button.submit {
  @apply bg-[var(--accent-primary)] p-2 rounded-md;
}

ul.guild-sidebar-horizontal {
  @apply bg-[var(--bg-guilds)] w-16 min-h-full p-2 flex flex-col items-center;
}

ul.guild-sidebar-vertical {
  @apply bg-[var(--bg-guilds)] min-w-full h-16 p-2 flex items-center;
}

div.channel-sidebar {
  @apply bg-[var(--bg-channels)] w-52 h-full flex flex-col items-center;
}

div.main-wrapper {
  @apply w-[calc(100%-13rem)]
}

div[role="menu"] {
  @apply bg-[var(--bg-ui)] border-none rounded-lg;
}

div[role="menuitem"] {
  @apply hover:bg-stone-700 cursor-pointer rounded-md;
}

/* Loading Screen */

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #7289da;
  /* Discord blue color */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}